*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    border: 3px solid blueviolet;
    border-radius: 20px;
    width: 55%;
    background-color: rgb(203, 215, 240);
    padding: 20px 24px;
    margin: 12px 23px;


}
body{
    background-color: rgb(232, 198, 241);
}